/* You can add global styles to this file, and also import other style files */
/*install bootstrap.css from node modules*/

@import "~bootstrap/dist/css/bootstrap.css";

body{
  padding-left: 20px;
  font-size: large;
}
.form-control.ng-touched.ng-invalid{
  border: 2px solid red;

}
